<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/evi/IdeaProjects/BillingTest"><classes><class name="com.columnhack.factory.BillCalculatorFactoryTest"><methods><include name="newBillCalculator"/><include name="moreThanTwoYearsBillCalculator"/></methods></class><class name="com.columnhack.service.BillingServiceTest"><methods><include name="calculateNetAmount"/><include name="calculateGroceryBillNetAmount"/></methods></class><class name="com.columnhack.service.CustomerServiceTest"><methods><include name="addCustomer"/><include name="removeCustomer"/></methods></class></classes></test></suite>